.side-bar
  .user-name
    .top-item
      %p.top-item__name
        masa
      .top-item__icons
        = link_to "#" do
          %label.fa.fa-edit
        = link_to "#" do
          %label.fa.fa-cog
  .group-list
    .group-box
      %p.group-box__group-name
        techcamp
      %p.group-box__group-message
        まだメッセージがありません

    